<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADNUCC | <%= pageTitle %></title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" href="/logo.png" sizes="32x32" type="image/png">
</head>