<nav style="display: flex; justify-content: space-between;">
    <div style="display: flex; align-items: center;">
        <a href="/homepage"><img src="/logo.png" alt="logo" width="100px" height="100px"></a>
        <h1>ADNU <span><br> Course Compass</span></h1>
    </div>
    <div>
        <h1>Logged in account: <span id="namehere"></span></h1>
        <button id="signOut">LOGOUT</button>
    </div>

</nav>