<div id="sidebar">
    <a id="sideHome" href="/homepage" style="display: flex; align-items: center;">
        <img style="width: 30px; height: 30px; margin-right: 10px;" src="/images/home.png" alt="home icon"> 
        <h2 style="margin: 0;">Home</h2>
    </a>        
    <a href="#subjects" style="display: flex; align-items: center;">
        <img style="width: 30px; height: 30px; margin-right: 10px;" src="/images/subjects.png" alt="subjects icon"> 
        <h2 style="margin: 0;">Subjects</h2>
    </a>   
    <a id="sideDept" href="/departments" style="display: flex; align-items: center;">
        <img style="width: 30px; height: 30px; margin-right: 10px;" src="/images/departments.png" alt="departments icon"> 
        <h2 style="margin: 0;">Departments</h2>
    </a>       

</div>