#home-icon {
    color: #571B7E;
}

#home-title {
    color:#571B7E;
    font-weight: 900;
}

.sidebar ul li:nth-of-type(1) a {
    border-right: 4px solid #571B7E;
}

.main-content {
    position: relative;
    background-color: #FDF6EE;
    min-height: 100vh;
    top: 0;
    left: 0px;
    /* width: calc(100% - 80px); */
    width: 100%;
    height: 100%;
    margin-top: 34px;
}

.join-create {
    background-color: #FFFCF8;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, .13);
    margin: auto;
    max-width: 1102px;
    min-width: 200px;
    max-height: 308px;
    min-height: 180px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.line {
    border-left: 2px solid rgba(0, 0, 0, .13);
    height: 220px;
}

.join-create-cont {
    height: 308px;
    width: 550px;
    background-color: #FFFCF8;
    border-radius: 20px;
}

.join-create-title {
    font-family: "Lilita One";
    color: #571B7E;
    margin-top: 80px;
    text-align: center;
}

.input-container {
    display: flex;
    justify-content: center;
}

.join-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px 28px;
}

#open-join-session {
    background-color: #571B7E;
    color: #FFFFFF;
    border: none;
    border-radius: 14px;
    padding: 14px 28px;
    cursor: pointer;
}

#open-join-session:hover {
    background-color: #3b115a;
}

.join-session-title {
    font-family: "Lilita One";
    color: #571B7E;
    text-align: center  ;
}

.join-session-popup {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
}

.join-session-popup.showJoin {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    background-color: #FFFCF8;
    padding: 40px;
    border-radius: 60px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 450px; 
    width: 100%;
    margin-top: 80px;
}

.input-join-container {
    border-bottom: 1px solid #000000;
}

.input-join {
    padding: 10px;
    width: 90%;
    height: 80%;
    border: none;
    font-size: 16px;
    background-color: #FFFCF8;
    outline: none;
    margin-top: 20px;
}

.join-popup-btn {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.join-btn {
    border-radius: 20px;
    border: 2.5px solid #571B7E;
    background-color: #FFFCF8;
    padding: 5px 10px;
    width: 30%;
    height: 34px;
    cursor: pointer;
    margin-left: 10px;
}

.join-btn:hover {
    background-color: #571B7E;
    color: #FFFFFF;
}

#open-join-session {
    background-color: #1A98A6;
    height: 46px;
    width: 80px;
    border-radius: 20px;
    color: #FFFFFF;
    font-size: 20px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#open-join-session:hover {
    background-color: #1D757F;
}

#open-create-session {
    background-color: #1A98A6;
    height: 46px;
    width: 80px;
    border-radius: 20px;
    color: #FFFFFF;
    font-size: 20px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#open-create-session:hover {
    background-color: #1D757F;
}

.create-session-title {
    font-family: "Lilita One";
    color: #571B7E;
    text-align: center;
}

.create-session-popup {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
}

.create-session-popup.show {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    background-color: #FFFCF8;
    padding: 40px;
    border-radius: 60px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 450px; 
    width: 100%;
    margin-top: 80px;
}

.input-create-container {
    border-bottom: 1px solid #000000;
}

.input-create {
    padding: 10px;
    width: 90%;
    height: 80%;
    border: none;
    font-size: 16px;
    background-color: #FFFCF8;
    outline: none;
    margin-top: 20px;
}

#copy-btn {
    background-color: #FFFCF8;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 20px;
}

#copy-btn:hover{
    color: #1A98A6;
}

.generate-btn {
    margin-top: 8px;
    border-radius: 20px;
    border: 2px solid #1A98A6;
    background-color: #FFFCF8;
    padding: 5px 10px;
    font-size: 10px;
    cursor: pointer;
}

.generate-btn:hover {
    background-color: #1D757F;
    color: #FFFFFF;
    border: 2px solid #1D757F;
}

.create-popup-btn {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;  
}

.create-btn {
    border-radius: 20px;
    border: 2.5px solid #571B7E;
    background-color: #FFFCF8;
    padding: 5px 10px;
    width: 30%;
    height: 34px;
    cursor: pointer;
    margin-left: 10px;
}

.create-btn:hover {
    background-color: #571B7E;
    color: #FFFFFF;
}

.recent-title-container {
    display: flex;
    margin-top: 32px;
}

.recent-sessions {
    font-family: "Lilita One";
    color: #571B7E;
    margin-left: 10px;
}

.redo {
    margin-left: 36px;
}